body {
    background-color: #ECE9F1;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 215px;
    color: #373867;
}

h1 {
    display: inline-block;
    position: absolute;
    /* left: 629px;
    top: 69px; */
    margin-left: 470px;
    margin-top: 70px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

h2 {
    margin: 0 auto;
}

aside {
    float: left;
    padding-top: 30px;
    width: 270px;
    height: 5700px;
    text-align: center;
    background-color: #373867;
    color: white;
}

section {
    margin-left: 270px;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.nav-menu {
    position: fixed;
    width: 270px;
}

.about-us {
    height: 625px;
    background-image: url(../../Assets/Images/blue-gym-banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.why-us {
    height: 670px;
}

header img {
    height: 115px;
    margin-left: 70px;
    margin-top: 35px;
}

header h2 {
    display: inline-block;
    position: absolute;
    margin-left: 600px;
    margin-top: 115px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
}

.nav-menu li {
    margin: 50px 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 27px;
}

.nav-menu h3 {
    margin-top: 130px;
    font-size: 24px;
    font-weight: 800;
    line-height: 27px;
}

p + a {
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.about-us h2 {
    padding-top: 180px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}

.about-us p {
    padding: 65px 325px 0;
}

.why-us h2 {
    padding: 120px 10px 55px 0;
}

.why-us h2, .why-us p {
    display: inline-block;
    padding-left: 45px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

.why-us article {
    float: left;
    width: 650px;
}

.why-us > img {
    width: 575px;
}

.why-us article img {
    float: right;
    margin: 120px 160px 50px 0;
    height: 50px;
}