<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <title>Mega Rocket Gym Login</title>
    <script defer src="../js/login.js"></script>
</head>
<body>
    <main>
        <aside> 
            <div class="logo">
                <img class="logo-img" src="../../Assets/Images/rocket-logo.png" alt="Logo">
                <img class="name-img" src="../../Assets/Images/rocket-name.png" alt="Name of the Project">
            </div>
            <a href="../views/index.html">HOME</a>
        </aside>
        <div class="container">
            <header></header>
            <section class="form">
                <article>
                    <h2>Log-In</h2>
                    <form action="#" method="POST">
                        <div class="input">
                            <label for="email">Email</label>
                            <input type="text" class="text" id="email" name="email" placeholder="example@example.com">
                        </div>
                        <div class="input">
                            <label for="password">Password</label>
                            <input type="password" class="text" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="submit">
                            <input type="submit" value="Continue">
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>
</body>
</html>