<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Mega Rocket Sign-Up</title>
    <script defer src="../js/sign-up.js"></script>
</head>
<body>
    <main>
        <aside> 
            <div class="logo">
                <img class="logo-img" src="../../Assets/Images/rocket-logo.png" alt="Logo">
                <img class="name-img" src="../../Assets/Images/rocket-name.png" alt="Name of the Project">
            </div>
            <a href="../views/index.html">HOME</a>
        </aside>
        <div class="container">
            <header></header>
            <section class="form">
                <article>
                    <h2>Sign Up</h2>
                    <form action="#" method="POST">
                        <div class="input">
                            <label for="name">Name</label>
                            <input type="text" class="text" id="name" name="name" placeholder="Name">
                        </div>
                        <div class="input">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="text" id="lastname" name="lastname" placeholder="Last Name">
                        </div>
                        <div class="input">
                            <label for="dni">ID Number</label>
                            <input type="text" class="text" id="dni" name="dni" placeholder="9999999">
                        </div>
                        <div class="input">
                            <label for="birthdate">Birthdate</label>
                            <input type="date" class="text" id="birthdate" name="birthdate">
                        </div>
                        <div class="input">
                            <label for="phone">Phone</label>
                            <input type="text" class="text" id="phone" name="phone" placeholder="3410000000">
                        </div>
                        <div class="input">
                            <label for="address">Address</label>
                            <input type="text" class="text" id="address" name="address" placeholder="Street Number">
                        </div>
                        <div class="input">
                            <label for="locality">Locality</label>
                            <input type="text" class="text" id="locality" name="locality" placeholder="Locality">
                        </div>
                        <div class="input">
                            <label for="postal-code">Postal Code</label>
                            <input type="text" class="text" id="postal-code" name="postal-code" placeholder="2000">
                        </div>
                        <div class="input">
                            <label for="password">Password</label>
                            <input type="password" class="text" id="password" name="password" placeholder="Password">
                        </div>
                        <div class="submit">
                            <input type="submit" value="Sign Up">
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>
</body>
</html>