* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #00000066;
}

.visible {
    display: block;
}

.modal-content {
    position: relative;
    background-color: #FEFEFE;
    margin: 15% auto;
    border: 1px solid #888888;
    width: fit-content;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.8s;
    animation-name: animatetop;
    animation-duration: 0.8s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-content p {
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    background-color: #373867;
}

.top h1 {
    display: inline-block;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.close {
    margin-right: 10px;
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000000;
    cursor: pointer;
}

header {
    display: none;
}

.container {
    width: 100%;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 390px;
    background-color: #373867;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 5%;
}

.logo-img {
    height: 10vh;
}

.name-img {
    height: 25px;
}

aside ul {
    align-self: flex-start;
    margin: 5% 5%;
}

aside a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 800;
    line-height: 18px;
    color: #FFFFFF;
}

.form {
    display: flex;
    justify-content: center;
}

.form article {
    box-sizing: border-box;
    width: 80vw;
    min-width: 310px;
    margin: 10% 0;
    background-color: #FBFBFB;
    color: #373867;
    text-align: center;
    box-shadow: 4px 4px 4px #00000040, 4px 4px 12px #00000040;
}

.form article h2 {
    margin-bottom: 3%;
    padding: 5%;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #373867;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3%;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 250px;
}

.text {
    padding: 3%;
    border: 1px solid #373867;
    border-radius: 5px;
}

.error {
    color: #EB2222;
    font-size: 15px;
    background-color: #FF494980;
    border-radius: 30px;
    margin-top: 5px;
}

.submit {
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type="submit"] {
    margin-bottom: 10px;
    background-color: #FFFFFF;
    width: 85px;
    height: 35px;
    border: 1px solid #373867;
    box-shadow: 0px 4px 4px #00000040, inset 4px 4px 4px #00000040;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
    text-shadow: 4px 4px 4px #00000040;
    color: #373867; 
}

@media screen and (min-width: 600px) {
    .logo-img {
        height: 15vh;
    }
    
    .name-img {
        height: 40px;
    }

    aside a {
        font-size: 20px;
        line-height: 23px;
    }

    .form article h2 {
        font-size: 23px;
        line-height: 20px;
    }

    .input {
        font-size: 20px;
        line-height: 23px;
        width: 400px;
    }

    input[type="submit"] {
        width: 130px;
        height: 50px;
        font-size: 20px;
        line-height: 18px;
    }
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }

    .modal-content p {
        padding: 30px;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
    }

    .top h1 {
        padding: 20px;
        font-weight: 400;
        font-size: 30px;
        line-height: 32px;
        color: #FFFFFF;
    }

    aside {
        flex-direction: column;
        min-width: auto;
        width: 20%;
    }

    aside ul {
        align-self: auto;
    }

    aside a {
        font-size: 40px;
        line-height: 47px;
    }

    .container {
        width: 80%;
    }

    header {
        display: block;
        height: 100px;
        background-color: #49A37B;
    }

    .form article {
        width: 60%;
    }
}