main {
    display: flex;
    height: 1000px;
}

aside {
    display: none;
    padding-top: 30px;
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: #373867;
    color: white;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 217px;
    min-height: 500px;
}

.nav-menu li {
    margin: 50px 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 27px;
}

.nav-menu h3 {
    margin-top: 130px;
    font-size: 24px;
    font-weight: 800;
    line-height: 27px;
}

p + a {
    margin: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.section-container {
    width: 100%;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 245px;
    min-width: 260px; 
    background-image: url(../../Assets/Images/blue-gym-banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.about-us h2 {
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.4em;
}

.about-us p{
    margin: 0 18%;
}

@media (min-width: 601px) {
    .about-us {
        min-height: 539px;
    }
    
    .about-us h2 {
        font-size: 2.5em;
        line-height: 1.5em;
    }
}

@media (min-width: 1025px) {
    aside {
        display: block;
    }
    
    .section-container {
        float: right;
        width: 75%;
    }

    .about-us {
        min-height: 624px;
    }
}