header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 7%;
    min-width: 240px;
    color: #373867;
}

.logo {
    height: 65px;
}

header h2 {
    font-size: 9px;
    font-weight: 700;
    line-height: 11px;
    text-align: right;
}

.menu {
    display: none;
}

.temp-buttons a {
    font-size: 10px;
    font-weight: 800;
    line-height: 12px;
    text-align: center;
    color: #373867;
}

@media screen and (min-width: 600px) {
    .logo {
        height: 85px;
    }

    header h2 {
        font-size: 14px;
        line-height: 16px;
    }

    .temp-buttons a {
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        height: 115px;
    }

    .menu {
        display: inline-block;
        visibility: hidden;
    }

    .temp-buttons {
        display: none;
    }
}